*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.containet{
    width: 100%;
    height: 750px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Images/WALL.JPG);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
}
.row{
    display: flex;
    height: 98%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(250, 213, 158);
    font-size: 60px;
}
p{
    color: rgb(250, 213, 158);
    font-size: 14px;
    line-height: 20px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 14px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.6s;
}
.card1{
    background-image: url(../Images/giza.home.jpg);
}
.card2{
    background-image: url(../Images/res_home.jpg);
}
.card3{
    background-image: url(../Images/hot.hom2.jpg);
}
.card4{
    background-image: url(../Images/pexels-miguel-á-padriñán-2882509.jpg);
}
.card:hover{
    transform: translateY(-10px); 
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 13px;
}

.right-col{
    float: left;
    margin-left: 12%;
    margin-top: 120px;
    display: flex;
    align-items: flex-end;
}
.right-col p{
    font-size: 20px;
    color: tomato;
    font-weight: 400;
    margin-left: 45px;
    
}
#iconn{
    width: 60px;
    cursor: pointer;
}